<#@ template language="C#" hostspecific="True" #>
<#@ output extension=".cs" #>
<#@ assembly name="System.Core.dll" #>
<#@ assembly name="System.Xml.dll" #>
<#@ assembly name="System.Xml.Linq.dll" #>

<#@ include file="../../../RogueEntity.EntityKeyGenerator/Includes/EntityKey.ttinclude" #>

<#
    Generate("ActorReference", "RogueEntity.Core.Meta.EntityKeys");
#>