<#@ template language="C#" #>
<#@ assembly name="System.Core" #>
<#@ output extension=".cs" #>

<#@ include file="../../../RogueEntity.EntityKeyGenerator/Includes/EntityKey.ttinclude" #>

<#
    Generate("ProjectileReference", "RogueEntity.Core.Meta.EntityKeys");
#>